
.avatar-box img {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.user-info-box {
  border-bottom: 1px solid #e6e6e6;

  display: flex;
  align-items: center;

  padding-bottom: 10px;
}

.user-info-box .avatar-box {
  border: none;
  margin: 0 10px 0px 5px;
}

.user-info-box img {
  border: 1px solid rgba(0, 53, 105, 0.3);
}

.user-info-box .user-info {
  font-size: 0.8em;
}

.avatar-box {
  width: 50px;
  height: 50px;
  border: 2px solid #ed4956;
  border-radius: 50%;
}

.subscribe-list-box {
  font-size: 14px;
}

.subscribe-list-box header {
  display: flex;
  justify-content: space-between;
}

.subscribe-list-box header b {
  color: #999999;
  display: inline-block;
}

.subscribe-list-box header span {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.subscribe-list-box header {
  margin: 10px 0;
}

.subscribe-list {
  overflow: scroll;
  height: 305px;
}

.subscribe-list li {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.subscribe-list .avatar-box {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.subscribe-list .user-info {
  font-size: 14px;
}

.subscribe-list .user-info span {
  font-size: 10px;
  color: #999999;
}

.user-info span, b {
  display: block;
}
