<div>
  <section class="user-info-box">
    <div class="avatar-box">
      <img src="/assets/noneavatar.jpg">
    </div>
    <div class="user-info">
      <b>baiyunfeiii</b>
      <p>白云飞</p>
    </div>
  </section>
  <section class="subscribe-list-box">
    <header>
      <b>快拍</b>
      <span>全部播放</span>
    </header>
    <ul class="subscribe-list">
      <li>
        <div class="avatar-box">
          <img src="/assets/avatar1.jpg" />
        </div>
        <div class="user-info">
          <b>nickname</b>
          <span>5小时前</span>
        </div>
      </li>
      <li>
        <div class="avatar-box">
          <img src="/assets/avatar1.jpg" />
        </div>
        <div class="user-info">
          <b>nickname</b>
          <span>5小时前</span>
        </div>
      </li>
      <li>
        <div class="avatar-box">
          <img src="/assets/avatar1.jpg" />
        </div>
        <div class="user-info">
          <b>nickname</b>
          <span>5小时前</span>
        </div>
      </li>
      <li>
        <div class="avatar-box">
          <img src="/assets/avatar1.jpg" />
        </div>
        <div class="user-info">
          <b>nickname</b>
          <span>5小时前</span>
        </div>
      </li>
      <li>
        <div class="avatar-box">
          <img src="/assets/avatar1.jpg" />
        </div>
        <div class="user-info">
          <b>nickname</b>
          <span>5小时前</span>
        </div>
      </li>
      <li>
        <div class="avatar-box">
          <img src="/assets/avatar1.jpg" />
        </div>
        <div class="user-info">
          <b>nickname</b>
          <span>5小时前</span>
        </div>
      </li>
    </ul>
  </section>
</div>
