<div>
  <section class="user-info-box">
    <div class="avatar-box">
      <img [src]="userInfo.avatar">
    </div>
    <div class="user-info">
      <b>{{userInfo.nickName}}</b>
      <p>{{userInfo.realName}}</p>
    </div>
  </section>
  <section class="subscribe-list-box">
    <header>
      <b>快拍</b>
      <span>全部播放</span>
    </header>
    <ul class="subscribe-list">
      <li *ngFor="let user of subscribeList">
        <div class="avatar-box">
          <img [src]="user.avatar" />
        </div>
        <div class="user-info">
          <b>{{user.nickName}}</b>
          <span>{{user.time}}</span>
        </div>
      </li>
    </ul>
  </section>
</div>
