<div class="photo-list-box">
  <article>
    <header class="nickname-bar">
      <div class="avatar-box"><img src="/assets/avatar.jpg" /></div>
      <div class="nickname">worldstar</div>
    </header>
    <div class="photo-list-image-box">
      <img src="/assets/image.png" />
    </div>
    <div>
      <div class="icon-bar">
        <i class="fa fa-heart-o"></i>
        <i class="fa fa-comments-o"></i>
        <i class="fa fa-share-square-o"></i>
        <i class="fa fa-bookmark-o icon-right"></i>
      </div>
    </div>
  </article>
</div>

