<div class="photo-list-box">
  <article *ngFor="let photo of photoList">
    <header class="nickname-bar">
      <div class="avatar-box"><img [src]="photo.avatar" /></div>
      <div class="nickname">{{photo.nickName}}</div>
    </header>
    <div class="photo-list-image-box">
      <img [src]="photo.image" />
    </div>
    <div>
      <div class="icon-bar">
        <i class="fa" [ngClass]="{'fa-heart-o': !photo.up, 'fa-heart checked': photo.up}" (click)="upPhoto(photo)"></i>
        <i class="fa fa-comments-o"></i>
        <i class="fa fa-share-square-o"></i>
        <i class="fa fa-bookmark-o icon-right"></i>
      </div>
      <div class="up-quantity">
        {{photo.upQuantity}}次赞
      </div>
    </div>
  </article>
</div>

